<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirect anything that doesn't exist to the redirector
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule .* redirect.php
</IfModule>
